# Node modulok
node_modules/

# Build / dist fájlok
dist/
dist-ssr/
build/

# Log fájlok
*.log

# Környezeti fájlok
.env
.env.local
.env.*.local

# Archívumok
*.zip
*.tar.gz
*.rar
*.tgz

# Ideiglenes fájlok
*.tmp
*.bak

# Git cache
*.local
