.large-preview-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  margin-left: 10rem !important;
  box-sizing: border-box;
}

.large-preview-wrapper img {
  width: auto;
  max-width: 90%;
  min-width: 20rem;
  max-height: 30rem;
  object-fit: contain;
}
