.large-preview-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2vh;
  margin-left: 25vh;
  box-sizing: border-box;
}

.large-preview-wrapper img {
  max-width: 90%;
  max-height: 90vh; /* vagy max 80vh */
  object-fit: contain;
}
