.selection-preview {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 0rem;
    margin-left: 8rem;

    height: 9rem;
  }
  
  
  
  .preview-image {
    max-width: 4rem;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
  }

  @media (max-width: 1150px) {
  }
  
  @media (max-width: 760px) {
    .selection-preview {
      margin-top: 0rem;
      margin-left: 0rem;
    }
    
    .preview-image {
      max-width: 4rem;
      box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
    }
  }
  
  