.banner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
  color: white;
  padding-left: 10%;
  overflow: hidden;
  border-bottom-left-radius: 100px; /* Lekerekítés bal alsó sarokban */
}

.banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Sötétített overlay */
}

.banner-content {
  position: relative;
  max-width: 600px;
  z-index: 1;
  opacity: 0;
  animation: fadeIn 1.5s ease-in-out forwards;
  text-align: left; /* Balra zárt szöveg */
}

.banner h1 {
  font-size: 2rem;
  margin-bottom: 3%;
}

.banner p {
  font-size: 1rem;
  line-height: 1.5;
  text-align: justify; /* Sorkizárás */
}

.banner-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  padding: 4px 15px;
  border: 2px solid white;
  background: transparent;
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 1rem;
  border-radius: 50px; /* Ovális alak */
  transition: 0.3s;
  position: relative;
}

.banner-button::after {
  content: "➝"; /* Jobbra nyíl */
  margin-left: 20px;
  font-size: 1.2rem;
}

.banner-button:hover {
  background: white;
  color: black;
}

/* Animáció a szöveg megjelenéséhez */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
