.banner {
  position: absolute; /* Közvetlenül az oldal tetejére kerül */
  top: 0;
  left: 0;
  width: 100vw; /* Teljes szélesség */
  height: 100vh; /* Teljes képernyő magasság */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}

@media (max-width: 768px) {
  .banner {
    height: 80vh; /* Kisebb képernyőn ne foglaljon túl sok helyet */
  }

  .banner h1 {
    font-size: 2rem;
  }

  .banner p {
    font-size: 1rem;
  }

  .banner-button {
    padding: 8px 16px;
    font-size: 1rem;
  }
}
