header {
  position: fixed;
  top: 10px; /* Kis eltartás a fejléc fölött */
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  color: white;
  z-index: 100;
  background: transparent;
  box-sizing: border-box; /* Padding nem növeli a szélességet */
}


.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.nav {
  display: flex;
  gap: 80px; /* Növeli a távolságot a linkek között */
  padding-right: 80px;
}

.nav a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  padding: 5px 30px; /* Alapértelmezett padding */
  border-radius: 50px; /* Lekerekített forma */
  border: 3px solid transparent; /* Láthatatlan keret, hogy ne változzon a méret */
}

.nav a:hover {
  border: 3px solid white; /* Fehér körvonal megjelenítése */
  cursor: pointer; /* Kattintható egérmutató */
}

