.swiper-container {
  position: relative;
  width: 100%;
  max-width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-wrapper {
  display: flex;
  gap: 50px;
  align-items: center;
}

.swiper-slide-content {
  background-size: cover;
  background-position: center;
  border-radius: 15px;
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.swiper-slide-content.small {
  width: 280px;
  height: 280px;
  opacity: 0.7; 
}

.swiper-slide-content.small {
    position: relative;
    background-color: white;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0 10px 0 white, 0 0 0 5px white; /* Extra fehér keret */
}

/* Befelé kerekített hatás a jobb alsó sarokban, sima ívekkel */
.swiper-slide-content.small::after {
    content: "";
    position: absolute;
    width: 60px; /* Kerekítés mérete, állítható */
    height: 60px;
    background: white;
    bottom: 0;
    right: 0;
    clip-path: circle(80% at bottom right); /* Simább ív a jobb alsó sarokban */
}


.swiper-slide-content.large {
  width: 380px;
  height: 400px;
  opacity: 1;
  
}

.swiper-button-prev,
.swiper-button-next {
  background: none;
  border: none;
  cursor: pointer;
  z-index: 10;
}

.swiper-button-prev img,
.swiper-button-next img {
  width: 40px;
  height: 40px;
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.5));
}
