.reference-container {
  display: flex;
  align-items: center;
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-size: 32px;
  margin-left: 15%; /* Bal oldali eltartás a képernyő szélétől */
  color: black; /* A szöveg színének beállítása */
  margin-bottom: 100px;
}

.reference-title {
  margin-right: 20px;
}

.reference-line-container {
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: space-between;
}

.reference-number {
  font-size: 28px;
}

.reference-line {
  border-bottom: 2px solid black;
  flex-grow: 1;
  margin-left: 10px;
}
