/* ==== ALAPÉRTELMEZETT (desktop) ==== */
.sub-header {
  padding: 1.2rem 2rem 0 8rem;
  position: absolute;
  top: 0.6rem;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(0, 0, 0);
  z-index: 100;
  background: transparent;
  box-sizing: border-box;
}

.sub-header .sub-logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.sub-header .sub-nav {
  display: flex;
  gap: 80px;
  padding-right: 80px;
}

.sub-header .sub-nav a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 1.2rem;
  transition: border 0.2s ease;
}

.sub-header .sub-nav a:hover {
  cursor: pointer;
}

.sub-header .sub-hamburger-menu {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.sub-header .sub-hamburger-menu div {
  width: 35px;
  height: 4px;
  background-color: rgb(0, 0, 0);
  margin: 5px 0;
  transition: 0.4s;
  z-index: 100;
}

.sub-header .sub-hamburger-menu.active div {
  background-color: black;
}

.sub-header .sub-hamburger-menu.active div:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.sub-header .sub-hamburger-menu.active div:nth-child(2) {
  opacity: 0;
}

.sub-header .sub-hamburger-menu.active div:nth-child(3) {
  transform: rotate(-45deg) translate(6px, -6px);
}

/* ==== 1150px ALATT (tablet + mobil) ==== */
@media screen and (max-width: 1150px) {
  .sub-header {
    padding: 1rem 3rem;
  }

  .sub-header .sub-logo {
    font-size: 1.3rem;
  }

  .sub-header .sub-nav {
    display: none;
    flex-direction: column;
    position: absolute;
    top: -0.6rem;
    right: 0;
    background-color: rgba(225, 225, 225, 0.95);
    width: 12.5rem;
    text-align: left;
    border-bottom-left-radius: 1rem;
    padding: 1.2rem 1.5rem 1rem 1rem;
    gap: 0;
  }

  .sub-header .sub-nav a {
    display: block;
    font-size: 1rem;
    padding: 0.8rem;
    border: none;
  }

  .sub-header .sub-nav.active {
    display: flex;
  }

  .sub-header .sub-hamburger-menu {
    display: flex;
  }

  .sub-header .sub-hamburger-menu div {
    z-index: 1000;
    width: 2rem;
    height: 0.1rem;
    margin: 0.3rem 0;
  }
}

/* ==== 760px ALATT (mobil) ==== */
@media screen and (max-width: 760px) {
  .sub-header .sub-logo {
    font-size: 1.1rem;
  }

  .sub-header .sub-nav a {
    font-size: 0.95rem;
    padding: 8px;
  }

  .sub-header .sub-hamburger-menu div {
    width: 28px;
    height: 2.5px;
  }
}
