.interior-door-container {
    display: flex;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
  }
  
  .leftSide,
  .rightSide {
    width: 50%;
    height: 100%;
    border: 1px dashed #ccc; /* csak segéd */
  }
  